# fork-observer configuration file

# Database path of the key value store. Will be created if non-existing.
database_path = "example_db_dir"

# path to the location of the static www files
www_path = "./www"

# Interval for checking for new blocks
query_interval = 10

# Webserver listen address
address = "127.0.0.1:2323"

# Custom footer for the site.
footer = """
    <div class="my-2">
      <div>
        <span class="text-muted">This site is hosted by</span>
        <br>
        <!-- uncomment this -->
        <!-- span>YOUR NAME / PSEUDONYM</span-->
        <!--remove this-->
        <span class="badge bg-danger">FIXME: PLACEHOLDER in config.toml</span>
      </div>
    </div>
  """

[[networks]]
id = 0x248281
name = "Nikhils custom SigNet"
description = "A custom SigNet with reorgs used for the development of the reorg-miner"

    [[networks.nodes]]
    id = 0
    name = "Node A"
    description = "A node with a signet-miner that is always mining blocks"
    # rpc_cookie_file = "~/.bitcoin/.cookie"
    rpc_host = "127.0.0.1"
    rpc_port = 38342
    rpc_user = "forkobserver"
    rpc_password = ""

    [[networks.nodes]]
    id = 1
    name = "Node R"
    description = "R node with a signet-miner that is always mining blocks"
    # rpc_cookie_file = "~/.bitcoin/.cookie"
    rpc_host = "127.0.0.1"
    rpc_port = 38332
    rpc_user = "forkobserver"
    rpc_password = ""

[[networks]]
id = 0xFFFFFFFE
name = "FFFFFFFF testnetwork"
description = "test"


    [[networks.nodes]]
    id = 0
    name = "Node A"
    description = "A node with a signet-miner that is always mining blocks"
    # rpc_cookie_file = "~/.bitcoin/.cookie"
    rpc_host = "127.0.0.1"
    rpc_port = 38342
    rpc_user = "forkobserver"
    rpc_password = ""
